body{
    background-image: url("station.jpg");
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-weight: bold;
    text-align: center;
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(231, 231, 241);
    text-shadow: 1px 0px 1px #000000;
}

h2 {
    font-size: 20px;
    color: rgb(240, 240, 250);
}